<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Ticket Details</title>
	<style>
		body {
			background: #CBDCF7;
			margin: 0;
		}
		
		
	</style>
</head>
<!--
	
	int id;
String title;
String description;
String content;
LocalDate createdDate;
	-->

<body>
	

	<div class="container">



		<p class="h4 mb-4"><span th:text="${heading}"></p>

		<form action="#" th:action="@{/admin/save}" th:object="${ticket}" method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />

			Title<input type="text" th:field="*{title}" class="form-control mb-4 col-4"
				placeholder="Enter ticket title">


			Short Description<textarea th:field="*{description}" class="form-control mb-4 col-4"
				placeholder="Enter ticket description"></textarea>

			Content<input type="text" th:field="*{content}" class="form-control mb-4 col-4" placeholder="Enter Content">


			<button type="submit" class="btn btn-info col-2">Save</button>

		</form>

		<hr>
		<a th:href="@{/admin/tickets}" class="btn btn-outline-primary">Back to Tickets List</a>

	</div>

</body>

</html>